.rodape {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: #6278f7;
}

.icones {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo {
    max-width: 100%;
}

.desenvolvedor {
    color: white;
}